In [21]:
import os
import pandas as pd
from tqdm import tqdm
from fuzzywuzzy import fuzz

In [22]:
DATASETS_FOLDER = "datasets"
DATASETS = ["DMoP", "MSRP"]

In [73]:
df = pd.DataFrame(columns= ["dataset", "sent_id_1", "sent_id_2", "text_1", "text_2", "is_paraphrase"] )

for dataset in DATASETS:
    path_to_dataset = os.path.join(DATASETS_FOLDER, dataset)

    df_tmp = pd.DataFrame(columns= ["dataset", "id_1", "id_2", "text_1", "text_2", "is_paraphrase"] )

    if dataset == "MSRP":
        with open(os.path.join(path_to_dataset, "msr_paraphrase_train.txt"), encoding="utf8", mode = "r") as file:
            fileiter = iter(file)
            next(fileiter)
            for i, line in tqdm(enumerate(fileiter)):
                line_list = line.split("\t")
                df_tmp.loc[i] = [dataset, line_list[1], line_list[2], line_list[3], line_list[4], line_list[0]]

            #lines = [line.rstrip() for line in lines]
    
    if dataset == "DMoP":
        dmop_path = os.path.join(path_to_dataset, "wikipedia_documents_train", "machined")

        for file in tqdm(os.listdir(os.path.join(dmop_path, "og"))):
            with open(os.path.join(dmop_path, "og", file), encoding="utf8", mode = "r") as f1:
                with open(os.path.join(dmop_path, "mg", str(file.split("-")[0])+"-SPUN.txt"), encoding="utf8", mode = "r") as f2:
                    og_lines = f1.readlines()
                    og_lines = [line.rstrip() for line in og_lines]
                    og_lines = [l for l in og_lines if l != ""]
                    mg_lines = f2.readlines()
                    mg_lines = [line.rstrip() for line in mg_lines]
                    mg_lines = [l for l in mg_lines if l != ""]
                    #print(og_lines[0])
                    #print(mg_lines[0])
                    #print(len(og_lines))
                    #print(len(mg_lines))

                    for i, og_line in enumerate(og_lines):
                        if og_line != "\n":
                            df_tmp.loc[i] = [dataset, "placeholder", "placeholder", og_line, mg_lines[i], 1]

    df = pd.concat([df, df_tmp], ignore_index = True)


df.head()

100%|██████████| 4012/4012 [00:40<00:00, 99.88it/s]
4076it [00:05, 682.37it/s]

,dataset,sent_id_1,sent_id_2,text_1,text_2,is_paraphrase
0,DMoP,placeholder,placeholder,Roy of the Rovers,Roy of the Rovers,1
1,DMoP,placeholder,placeholder,Roy of the Rovers is a British comic strip abo...,Roy of the Rovers is a British funny cartoon a...,1
2,DMoP,placeholder,placeholder,"The weekly strip ran until 1993, following Roy...",The week after week strip kept running until 1...,1
3,DMoP,placeholder,placeholder,Football-themed stories were a staple of Briti...,Football-themed stories were a staple of Briti...,1
4,DMoP,placeholder,placeholder,"The stock media phrase ""real 'Roy of the Rover...","The stock media express ""genuine 'Roy of the R...",1

In [74]:
df.head(1000000)

,dataset,sent_id_1,sent_id_2,text_1,text_2,is_paraphrase
0,DMoP,placeholder,placeholder,Roy of the Rovers,Roy of the Rovers,1
1,DMoP,placeholder,placeholder,Roy of the Rovers is a British comic strip abo...,Roy of the Rovers is a British funny cartoon a...,1
2,DMoP,placeholder,placeholder,"The weekly strip ran until 1993, following Roy...",The week after week strip kept running until 1...,1
3,DMoP,placeholder,placeholder,Football-themed stories were a staple of Briti...,Football-themed stories were a staple of Briti...,1
4,DMoP,placeholder,placeholder,"The stock media phrase ""real 'Roy of the Rover...","The stock media express ""genuine 'Roy of the R...",1
...,...,...,...,...,...,...
4244,MSRP,1620264,1620507,"""At this point, Mr. Brando announced: 'Somebod...","Brando said that ""somebody ought to put a bull...",1
4245,MSRP,1848001,1848224,"Martin, 58, will be freed today after serving ...",Martin served two thirds of a five-year senten...,0
4246,MSRP,747160,747144,"""We have concluded that the outlook for price ...","In a statement, the ECB said the outlook for p...",1
4247,MSRP,2539933,2539850,The notification was first reported Friday by ...,MSNBC.com first reported the CIA request on Fr...,1
4248,MSRP,453575,453448,The 30-year bond US30YT=RR rose 22/32 for a yi...,The 30-year bond US30YT=RR grew 1-3/32 for a y...,0